.no{border: 2px solid black; padding: 10px 20px 10px 10px ;margin: 10px 0px 0px 0px;}
.ms{border: 2px dotted black;padding: 10px 20px 10px 10px;margin: 20px 0px 20px 0px}
.ss{border: 2px dotted red;padding: 5px  ;}
.sa{border: 2px solid black;color: violet;padding: 10px 20px 10px 10px ;background-color: white;}
.se{background-color: yellow;}
.sq{background-color: orange;}